.container{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: 7% !important;
    margin-top:5%;
    font-family: 'Krona One', sans-serif;
}
.carrousel{
    
    align-self: center;
    margin-left: 30%;
    max-height: auto;
    width: 100%;
    max-width: 3000px;
  
    
}
.carrousel-card{
    align-self: center;
    width: auto;
    height: auto;
    
    
}
.card-group{
    width: auto;
    height: auto;
    align-self: center;
}

.card-img{
    width: auto;
    height: auto;
    max-width: 300px;
    

}