.container {
  background-color: #202020;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  
    text-align:center;
    color: #fff;
    background: #eee;
    font-family: impact;
    font-size: 20px;
    letter-spacing: 0;
    text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
    
}
.adminForm {
  
  margin-top: 6%;
}

